:root {
	font-family: var(--family);
	line-height: 1.5;
	font-weight: 400;

	background-color: #f3f4f6;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	--color-navbar: #313439;

	--color-gray-100: #f4f3f1;
	--color-gray-200: #dddbd8;
	--color-gray-400: #aeaba7;
	--color-gray-500: #8a8784;
	--color-gray-700: #4b4a47;
	--color-gray-800: #31302e;
	--color-gray-900: #1f1d1b;

	--color-primary-600: #f9c762;
	--color-active: pink;

	--color-backdrop: #000000bf;

	--color-delete: #c03333;
	--color-success: #66bb6a;

	--background: #55423d;
	--headline: #fffffe;
	--paragraph: #fff3ec;
	--button: #ffc0ad;
	--button-text: #271c19;

	---stroke: #140d0b;
	---main: #fff3ec;
	--highlight: #e78fb3;
	--secondary: #ffc0ad;
	--tertiary: #9656a1;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	/* display: flex;
  place-items: center; */
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

main {
	margin: 2rem auto;
	text-align: center;
}

li {
	text-decoration: none;
	list-style-type: none;
}
